/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set the track color */
  border-radius: 4px; /* Optional: add rounding to the track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Set the handle color */
  border-radius: 4px; /* Optional: add rounding to the handle */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Set the handle color on hover */
}
